.config/
.cache/
**/.ipython/
**/.ipynb_checkpoints/
**.cache/
**.pyc
**__pycache__
MANIFEST
*.egg-info
dist/
examples/*.png
examples/*.html
examples/pyneqsys
examples/pyodesys
benchmarks/chempy
benchmarks/env
benchmarks/results
benchmarks/symengine/
doc/
