**~
.config/
*cache/
**/.ipython/
**/.ipynb_checkpoints/
**.cache/
**.pyc
**__pycache__
MANIFEST
*.egg-info
dist/
deploy/
examples/*.png
!examples/kinetics.png
examples/*.html
examples/pyneqsys
examples/pyodesys
benchmarks/chempy
benchmarks/env
benchmarks/results
benchmarks/symengine/
doc/
examples/equilibria.pdf
venv/
build/
*.bak0
*.bak1
sundials-*.tar.gz
.local/
.ipython/
.jupyter/*
!.jupyter/jupyter_notebook_config.py
tmp/
