.cache/
**.pyc
*/__pycache__
*/*/*.pyc
*/*/__pycache__
*/*/*/*.pyc
*/*/*/__pycache__

examples/*.png
examples/*.html
.config/
.cache/
.ipython/
.ipynb_checkpoints/
examples/pyneqsys
examples/pyodesys
doc/
dist/
benchmarks/chempy
benchmarks/env
benchmarks/results
MANIFEST
benchmarks/symengine/
